$mainColor: #000000;

html, body {
    color: $mainColor;
}
//header
.catergories-btn {
    display: flex;
    justify-content: center;
    a {
        border: none;
        background: none;
        outline: none;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
        padding: 0px 5px 0px 5px;
    }
  }
  header {
    .inner-header {
        height: 4rem;
        position: relative;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 0 5vw;
        display: flex;
        justify-content: space-between;
    align-items: self-end;
        color: #000;
        .menu {
            padding-top: 1vh;
            align-self: center;
            text-align: center;
            button {
                border: none;
                outline: none;
                cursor: pointer;
                font-weight: 600;
                background-color: #70dbc0;
                min-width: 3rem;
                min-height: 3rem;
                transform: rotate(-15deg);
                a {
                    line-height: 2rem;
                }
            }
            .menuBtn {
                svg {
                    color: #000;
                    font-size: 2rem;
                }
            }
        }
        .logo {
            opacity: 1;
            letter-spacing: .2em;  
        }
    }
    // hamburger menu or navigation
    .hamburger-menu {
        display: none;
        z-index:15;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        .menu-secondary-background-color {
            background-color: #000;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        .menu-layer {
            position: relative;
            background: #FFFFFF;
            height: 100%;
            overflow: hidden;
        }
        .wrapper {
            position: relative;
            .menu-links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                top: 
                18vh;
                padding-left: 5.5vw;
                nav {
                    display: block;
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            list-style: none;
                            font-size: 1.8rem;
                            font-weight: 500;
                            cursor: pointer;
                            height: 10vh;
                            overflow: hidden;
                            position: relative;
                            width: 700px;
                            a {
                                position: absolute;
                                color: #000;
                                text-decoration: none;
                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }

  .overlay-color {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: .5s ease;
    z-index: 10;
    &:hover {
        opacity: 0;
    }
  }
